.ve-select {
  .ve-select-input {
    appearance: none;
    background-color: #fff;
    background-image: none;
    border: 1px solid #fff;
    box-sizing: border-box;
    color: #1f2d3d;
    display: inline-block;
    font-size: inherit;
    line-height: 1;
    outline: none;
    padding-left: 2px;
    transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 80%;
    text-align: left;
  }

  .ve-select-selected-span {
    width: 80%;
    display: block;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 4px;
    color: var(--ve-select-text-color);
  }

  .ve-select-toggle-icon {
    display: flex;
    color: #999;
    transition: transform 0.3s;

    &.ve-select-show {
      transform: rotate(180deg);
      transform-origin: center center;
    }
  }
}